fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
echo fastapi==0.111.0 > livraria/backend/requirements.txt
echo uvicorn[standard]==0.29.0 >> livraria/backend/requirements.txt
echo pydantic==2.7.1 >> livraria/backend/requirements.txt